<div class="space">
  <div>
    <button routerLink="/addHeist" nbButton status="basic"><nb-icon icon="plus"></nb-icon>New Heist</button>
  </div>
  <nb-card class="full-height margin-top-25">
      <nb-card-header>
        Heists
      </nb-card-header>
      <nb-list>
        <nb-list-item *ngFor="let heist of heists">
          <a routerLink="/heist/{{heist.id}}">
            {{ heist.name | uppercase }}
          </a>
        </nb-list-item>
      </nb-list>
    </nb-card>
  <div>
    <button routerLink="/members" fullWidth nbButton status="info"><nb-icon icon="people-outline"></nb-icon>Show All Members</button>
  </div>
</div>
