<div class="space">
  <nb-card class="full-height">
      <nb-card-header>
        Heists
      </nb-card-header>
      <nb-list>
        <nb-list-item *ngFor="let heist of heists">
          <a routerLink="/heist/{{heist.id}}">
            {{ heist.name | uppercase }}
          </a>
        </nb-list-item>
      </nb-list>
    </nb-card>
    <div>
      <button routerLink="/addHeist" nbButton status="basic">New Heist</button>
    </div>
</div>

<div class="space">
  <nb-card class="full-height">
    <nb-card-header>
      Members
    </nb-card-header>
    <nb-list>
      <nb-list-item *ngFor="let member of members">
        <a routerLink="/member/{{member.id}}">
          {{ member.name | uppercase }}
        </a>
      </nb-list-item>
    </nb-list>
  </nb-card>
  <div>
    <button routerLink="/addMember" nbButton status="basic">New Member</button>
  </div>
</div>
