<nb-layout>

  <nb-layout-column left>
    <nb-card size="small">
      <nb-card-header>
        Eligible Members
      </nb-card-header>
      <nb-list>
        <nb-list-item *ngFor="let member of eligibleMembers; let i = index">
          {{ member }}
          <a (click)="addMemberToHeist(member, i)"><nb-icon icon="arrow-circle-right-outline" pack="eva"></nb-icon></a>
        </nb-list-item>
      </nb-list>
    </nb-card>
  </nb-layout-column>

  <nb-layout-column right>
    <nb-card size="small">
      <nb-card-header>
        Added Members
      </nb-card-header>
      <nb-list>
        <nb-list-item *ngFor="let member of heistMembers; let i = index">
          {{ member }}
          <a (click)="removeMemberFromHeist(member, i)"><nb-icon icon="close-outline" pack="eva"></nb-icon></a>
        </nb-list-item>
      </nb-list>
    </nb-card>
    <div class="right">
      <button nbButton (click)="confirmMembers()" status="primary" [disabled]="disableConfirmBtn()">Confirm Members</button>
    </div>
  </nb-layout-column>
</nb-layout>


