<nb-card>
  <nb-card-body>
    <h3>{{ heist.name }}</h3>

    <div class="">
      {{ heist.location }}
      <nb-icon nbSuffix icon="pin-outline" pack="eva"></nb-icon>
    </div>

    <hr>

    <h5>Description</h5>
    <p>Status: {{heist.status}}</p>
    <div *ngIf="heistOutcome.outcome">
      <p>Outcome: {{heistOutcome.outcome}}</p>
    </div>
    <p>Start Time: {{ heist.startTime | date: 'medium' }}</p>
    <p>End Time: {{ heist.endTime | date: 'medium' }}</p>
    <div>
      Members:<p *ngFor="let member of heistMembers">{{member.name}}</p>
    </div>

    <div class="input-space">
      <button nbButton routerLink="/heistEligibleMembers/{{heistId}}">Find eligible members</button>
    </div>

    <app-heist-skills
      [heistSkills]="source"
      (addedSkill)="addSkill($event)"
      (updatedSkill)="updateSkill($event)"
    ></app-heist-skills>

    <div class="input-space" *ngIf="heistStatus.status==='READY'">
      <button nbButton (click)="startHeistManually(this.heistId)">Start heist</button>
    </div>

  </nb-card-body>
</nb-card>
