<nb-card>
  <nb-card-body>

    <!--heist name and location-->
    <h3>{{heist.name}}</h3>
    <div>
      {{heist.location}}
      <nb-icon icon="pin-outline" pack="eva"></nb-icon>
    </div>

    <hr class="line">

    <!--heist details-->
    <div class="space">
      STATUS <nb-tag status="{{tagStatus}}" appearance="filled" text="{{heist.status}}"></nb-tag>
    </div>

    <div *ngIf="heistOutcome.outcome" class="space">
      OUTCOME <nb-tag status="{{tagOutcome}}" appearance="filled" text="{{heistOutcome.outcome}}"></nb-tag>
    </div>

    <div class="space">
      <p><nb-icon icon="clock-outline" pack="eva"></nb-icon> START TIME: {{heist.startTime | date: 'medium'}}</p>
      <p><nb-icon icon="clock-outline" pack="eva"></nb-icon> END TIME: {{heist.endTime | date: 'medium'}}</p>
    </div>

    <!--heist members table-->
    <div class="space" *ngIf="heistMembers.length > 0">
      <nb-card class="full-height">
        <nb-card-header>MEMBERS</nb-card-header>
          <nb-list>
            <nb-list-item *ngFor="let member of heistMembers">
              <a routerLink="/member/{{member.id}}">{{member.name}}</a>
            </nb-list-item>
          </nb-list>
      </nb-card>
    </div>

    <!--find eligible members btn-->
    <div class="space" *ngIf="heist.status === 'PLANNING'">
      <button nbButton routerLink="/heistEligibleMembers/{{heistId}}">
        <nb-icon icon="search-outline" pack="eva"></nb-icon>
        Find eligible members
      </button>
    </div>

    <!--heist skills table-->
    <div class="update-skills-table">
      <app-skill-list
        [skills]="source"
        [columns]="skillTableColumns"
        [actions]="skillTableActions"
        (addedSkill)="addSkill($event)"
        (updatedSkill)="updateSkill($event)"
      ></app-skill-list>
    </div>

    <!--start heist btn-->
    <div class="space" *ngIf="heistStatus.status==='READY'" class="center">
      <button nbButton (click)="startHeistManually(this.heistId)" status="primary">Start heist</button>
    </div>

  </nb-card-body>
</nb-card>
