.space{
  margin-bottom:20px
}
.form-area{
  background:#565273;
  position:relative;
  margin-bottom:45px;
  padding:0 20px 50px 20px;
  border:3px solid #242744
}
.detail-section{
  margin-top:60px
}
.line{
  margin-bottom: 15px;
}
.right{
  float: right;
}
.nb-theme-cosmic nb-card.size-small.full-height {
  height: 100%;
}
.nb-theme-cosmic a {
  text-decoration: none;
}
.skill-inputs{
  display: inline-flex;
  display: -webkit-inline-flex;
}
.skill-inputs .space{
  margin-right: 15px;
}
.start-time-input{
  margin-right: 30px;
}
.skill-inputs .space nb-checkbox .label, .remove-skill-btn{
  padding-top: 5px;
}
.members-input input{
  max-width: 115px !important;
}
