<nb-card>
  <nb-card-body>
    <!--member details-->
    <h3>{{ member.name }}</h3>
    <div>
      {{ member.email }}
      <nb-icon nbSuffix icon="email-outline" pack="eva"></nb-icon>
    </div>

    <hr class="line">

    <div class="space">
      STATUS <nb-tag status="{{tagStatus}}" appearance="filled" text="{{member.status}}"></nb-tag>
    </div>

    <div class="space">
      <nb-icon icon="person-outline" pack="eva"></nb-icon> GENDER: {{sex}}
    </div>

    <div class="space">
      <nb-icon icon="activity-outline" pack="eva"></nb-icon> MAIN SKILL: {{member.mainSkill}}
      <button nbButton size="tiny" outline (click)="editMainSkillDialog(editDialog)" disabled="{{memberSkills.length<1}}">edit</button>
    </div>

    <div class="update-skills-table">
      <div class="update-skills-table">
        <app-skill-list
          [skills]="source"
          [columns]="skillTableColumns"
          (addedSkill)="addSkill($event)"
          (deletedSkill)="deleteSkill($event)"
          (updatedSkill)="updateSkill($event)"
        ></app-skill-list>
      </div>
    </div>

  </nb-card-body>
</nb-card>

<!--edit main skill dialog-->
<ng-template #editDialog let-ref="dialogRef">
  <form #mainSkillUpdateForm="ngForm" (ngSubmit)="editMainSkill(mainSkillUpdateForm, ref)">
    <nb-card>
        <nb-card-header>Edit Main Skill</nb-card-header>
        <nb-card-body>
          <nb-radio-group [(value)]="mainSkill" name="mainSkill">
            <nb-radio *ngFor="let memberSkill of memberSkills"
                      [value]="memberSkill.name"
                      [checked]="memberSkill.name===mainSkill">
              {{ memberSkill.name }}
            </nb-radio>
          </nb-radio-group>
        </nb-card-body>
        <nb-card-footer>
          <button nbButton type="submit" status="primary">Save</button>
          <button class="right" nbButton (click)="ref.close()" status="danger">Close</button>
        </nb-card-footer>
    </nb-card>
  </form>
</ng-template>

