<form [formGroup]="heistFormGroup" (ngSubmit)="onSubmit()">

  <div class="form-area">
    <h4>Add New Heist</h4>

    <div class="space">
      <input formControlName="name" type="text" nbInput fullWidth placeholder="Name...">
    </div>

    <div class="space">
      <input formControlName="location" type="text" nbInput fullWidth placeholder="Location...">
    </div>


    <div class="space">
      <input class="start-time-input" nbInput placeholder="Start Time" [nbDatepicker]="start" [formControl]="startTime">
      <nb-date-timepicker #start></nb-date-timepicker>

      <input nbInput placeholder="End Time" [nbDatepicker]="end" [formControl]="endTime">
      <nb-date-timepicker #end [min]="min"></nb-date-timepicker>
    </div>


    <div formArrayName="skills">
      <div class="space ">
        <button type="button" (click)="addSkill()" nbButton outline status="primary" size="small" shape="round">Add skill</button>
      </div>

      <div *ngFor="let skillForm of skills.controls; let i = index">
        <div class="skill-inputs" [formGroup]="skillForm">
          <div class="space">
            <input formControlName="name" type="text" nbInput placeholder="Name">
          </div>
          <div class="space">
            <input formControlName="level" maxlength="10" pattern="[\*]" type="text" nbInput placeholder="Level">
          </div>
          <div class="space members-input">
            <input formControlName="members" type="number" nbInput placeholder="Members">
          </div>
          <div class="space remove-skill-btn">
            <button (click)="deleteSkill(i)"nbButton size="tiny" status="danger" outline shape="round">Remove</button>
          </div>
        </div>
      </div>

    </div>

    <div class="right">
      <button type="submit" nbButton status="primary">Save</button>
    </div>

  </div>

</form>
