<form [formGroup]="memberFormGroup" (ngSubmit)="onSubmit()">

  <div class="form-area">
    <h4>Add New Member</h4>
    <div class="input-space">
      <input formControlName="name" type="text" nbInput fullWidth placeholder="Name...">
    </div>

    <div class="input-space">
      <label>Gender</label>
      <nb-radio-group formControlName="sex">
        <nb-radio *ngFor="let gender of genders" [value]="gender.value" [checked]="gender.checked">
          {{ gender.label }}
        </nb-radio>
      </nb-radio-group>
    </div>

    <div class="input-space">
      <nb-form-field>
        <nb-icon nbSuffix icon="at-outline" pack="eva"></nb-icon>
        <input formControlName="email" type="text" nbInput fullWidth placeholder="Email...">
      </nb-form-field>
    </div>

    <div class="input-space">
      <nb-select formControlName="status" placeholder="Select Status">
        <nb-option *ngFor="let status of statuses" [value]="status.value">
          {{ status.value }}
        </nb-option>
      </nb-select>
    </div>

    <div formArrayName="skills">
      <div class="input-space">
        <button (click)="addSkill()" nbButton>Add skill</button>
      </div>

      <div *ngFor="let skillForm of skills.controls; let i = index">
        <div class="lesson-form-row" [formGroup]="skillForm">
          <div class="input-space">
            <input formControlName="name" type="text" nbInput fullWidth placeholder="Name">
          </div>
          <div class="input-space">
            <input formControlName="level" type="text" nbInput fullWidth placeholder="Level">
          </div>
          <div class="input-space">
            <button (click)="deleteSkill(i)" nbButton>Remove skill</button>
          </div>
          <div class="input-space">
            <nb-checkbox (checkedChange)="checkMainSkill($event, i)" [disabled]="mainSkillChecked">Main skill</nb-checkbox>
          </div>
        </div>
      </div>

    </div>

    <div>
      <button type="submit" nbButton>Save</button>
    </div>

  </div>

</form>
